In [1]:
import numpy as np 
import pandas as pd

In [3]:
data = pd.read_csv(r'C:\Users\user\Downloads\Sales_add.csv')

In [4]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [6]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [7]:
data.describe(include=['object'])

          Month      Region      Manager
count        22          22           22
unique       22           3            3
top     Month-1  Region - A  Manager - A
freq          1          10            9

In [9]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

### 1. Check whether there is any increase in sales after stepping into digital marketing.

###### H0:There is no difference in sales before and after digital marketing.
###### H1:There is an increase in sales after digital marketing.

In [8]:
import scipy.stats as stats
from scipy.stats import ttest_ind

In [17]:
alpha=0.05
ttest,p_val = stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
print("P Value : ",p_val)

P Value :  6.336667004575778e-11

In [18]:
if p_val > alpha:
    print("Failing to reject the  Null hypothesis H0")
else:
    print("Rejecting the Null hypothesis H0")

Rejecting the Null hypothesis H0

### Result
#### From the test we found that there is an increase in sales after digital marketing.

### 2. The company needs to check whether there is any dependency between the features Region and Manager.

###### H0: There is no dependency  features between  "Region" and "Manager "
###### H1: There is a dependency  features between "Region" and "Manager "

In [28]:
data1=data.groupby('Region')['Manager'].value_counts().unstack()

In [29]:
data1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [35]:
from scipy.stats import chi2_contingency

In [36]:
chi_value, p_value, dof, exp_values = stats.chi2_contingency(data1)

In [37]:
print('Chi sqaure Test Statistic is ',chi_value)
print('P value of test data is ',p_value)
print('Degrees of Freedom is ',dof)
print('Expected observations of data are ',exp_values)

Chi sqaure Test Statistic is  3.050566893424036
P value of test data is  0.5493991051158094
Degrees of Freedom is  4
Expected observations of data are  [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [38]:
if p_value < 0.05:
    print("Reject null hypothesis.")
else:
    print("Accept null hypothesis.")

We accept null hypothesis i.e.There is no association between the features Region and Manager.

### Result
#### There is no dependency between the features "Region" and " Manager".